/* Global variables */
:root {
  /* Color */
  --color-text: #424239;
  --color-bg: #fff;
  --color-gray01: #665e5c;
  --color-gray02: #e4e4e4;
  --color-mood: #f8f7f4;
  --color-main: #88534c;

  /* Font Size */
  --fs-xs: 0.75rem; /* 12px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-base: 1rem; /* 16px */
  --fs-lg: 1.125rem; /* 18px */
  --fs-xl: 1.3125rem; /* 21px */
  --fs-2xl: 1.625rem; /* 26px */
  --fs-3xl: 2rem; /* 32px */
  --fs-4xl: 2.6875rem; /* 43px */
  --fs-5xl: 4rem; /* 64px */

  /* Font Family */
  --ff-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --ff-body: "Noto Sans JP", var(--ff-system);
  --ff-en: "Afacad", var(--ff-system);
  --ff-title: "Sedan", serif;

  /* Transitions */
  --theme-transition: 0.3s ease-in-out;

  /* Spacing */
  --sp-xs: 0.25rem; /* 4px */
  --sp-1: 0.5rem; /* 8px */
  --sp-2: 1rem; /* 16px */
  --sp-3: 1.5rem; /* 24px */
  --sp-4: 2rem; /* 32px */
  --sp-5: 2.5rem; /* 40px */
  --sp-6: 3rem; /* 48px */
  --sp-8: 4rem; /* 64px */

  /* Border Radius */
  --br-xs: 0.25rem;
  --br-1: 0.5rem;
  --br-full: 999px;

  /* Box Shadow */
  --bx-shadow : 0 0 15px -4px var(--color-gray01);
}

html,
body {
  max-width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--ff-body);
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-size: var(--fs-sm);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: var(--color-main);
  }
}

ol,
ul {
  list-style: none;
}

h1 {
  font-size: var(--fs-2xl);
}
h2 {
  font-size: var(--fs-xl);
  margin-top: var(--sp-1);
}
h3 {
  font-size: var(--fs-lg);
  margin-top: var(--sp-xs);
}

.wrapper {
  display: flex;  
  flex-wrap: wrap;
  width: 100%;
  padding: var(--sp-5);

  @media screen and (max-width: 540px) {
    padding: var(--sp-2);
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-top: var(--sp-2);
  gap: var(--sp-1);

  p a {
    display: inline-block;
    font-family: var(--ff-en);
    color: var(--color-bg);
    padding: var(--sp-1) var(--sp-4);
    background-color: var(--color-gray01);
    border-radius: var(--br-full);

    &:hover {
      background-color: var(--color-main);
    }
  }
}
