---
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="404 Not Found"
  description="お探しのページは見つかりませんでした。"
>
  <main class="wrapper notfound-wrapper">
    <Hero
      title="Not Found"
      tagline="お探しのページは見つかりませんでした。\nページが移動、または削除された可能性があります。"
    />
    <a href="/" class="to-top-btn">
      ホームにもどる
    </a>
  </main>
</BaseLayout>

<style>
  .notfound-wrapper {
    text-align: center;
    height: 70vh;
  }

  .to-top-btn {
    margin-top: var(--sp-6);
    padding: var(--sp-2) var(--sp-4);
    border: solid 1px;
    border-radius: var(--br-full);
  }
</style>
