---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

import SeeMoreBtn from "../components/SeeMoreBtn.astro";
import Hero from "../components/Hero.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Skills from "../components/Skills.astro";
import Aspirations from "../components/Aspirations.astro";

const projects = (await getCollection("works"))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, 6);
---

<BaseLayout>
  <main class="wrapper top-wrapper">
    <Hero
      title="Hello, I'm Web Designer."
      tagline="はじめまして、ご訪問くださりありがとうございます。\nこれまでの制作物やできること、これからやりたいことをまとめました。\nご覧いただけますと幸いです。"
    />

    <section id="works">
      <div class="section-header">
        <div class="section-title">
          <h2 class="top-h2">Works</h2>
          <span class="top-h2-description">制作したもの</span>
        </div>

        <SeeMoreBtn href="/works/" className="common-btn">View All</SeeMoreBtn>
      </div>

      <div class="gallery">
        <ul class="top-grid">
          {
            projects.map((project) => (
              <li>
                <PortfolioPreview project={project} />
              </li>
            ))
          }
        </ul>
      </div>

      <!-- <SeeMoreBtn href="/works/" className="sp-btn">View All Works</SeeMoreBtn> -->
    </section>

    <section id="skills">
      <div class="section-header">
        <div class="section-title">
          <h2 class="top-h2">Skills & Expertise</h2>
          <span class="top-h2-description">できること</span>
        </div>
      </div>
      <Skills />
    </section>

    <section id="aspirations">
      <div class="section-header">
        <div class="section-title">
          <h2 class="top-h2">Aspirations & Interests</h2>
          <span class="top-h2-description">これからやりたいこと</span>
        </div>
      </div>
      <Aspirations />
    </section>
  </main>
</BaseLayout>

<style>
  .top-wrapper {
    justify-content: center;
    gap: var(--sp-8);

    @media screen and (max-width: 767px) {
      gap: var(--sp-6);
    }
  }

  .section-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: var(--sp-1);
    border-bottom: solid 1px var(--color-gray01);

    @media screen and (max-width: 767px) {
      align-items: center;
    }
  }

  .section-title {
    display: flex;
    gap: var(--sp-2);
    align-items: baseline;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 2px;
    }
  }

  .top-h2 {
    font-size: clamp(var(--fs-2xl), 1.238rem + 1.93vw, var(--fs-4xl));
    font-family: var(--ff-title);
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
  }

  .top-h2-description {
    font-size: var(--fs-xs);
    color: var(--color-gray01);
  }

  .gallery {
    grid-area: gallery;
    margin-top: var(--sp-3);
  }

  .top-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--sp-5) var(--sp-4);

    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 540px) {
      grid-template-columns: 1fr;
    }
  }
</style>
