---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="プライバシーポリシー"
  description="当サイトの取り扱う個人情報について"
>
  <main class="wrapper sub-wrapper">
      <h1 class="title">プライバシーポリシー</h1>
      <p class="description">当サイトにおける個人情報等の取り扱いについて</p>
      <section>
        <h2>収集する情報</h2>
        <p>当サイトでは、以下の情報を収集する場合があります。</p>
        <ul>
          <li>IPアドレス</li>
          <li>ブラウザの種類、アクセス元のデバイス情報</li>
          <li>Cookieによる閲覧情報</li>
        </ul>
      </section>
      <section>
        <h2>情報の利用目的</h2>
        <p>
          収集した情報は、以下の目的でのみ使用されます。
        </p>
        <ul>
          <li>サイトの改善</li>
          <li>不正アクセス防止</li>
          <li>統計データの作成</li>
        </ul>
      </section>
      <section>
        <h2>個人情報の第三者提供</h2>
        <p>
          以下の場合を除き、収集した個人情報を第三者に提供することはありません。
        </p>
        <ul>
          <li>法令に基づく場合</li>
          <li>利用者の同意がある場合</li>
          <li>人の生命、身体または財産の保護のために必要な場合</li>
        </ul>
      </section>
      <!-- <section>
        <h2>アクセス解析ツール</h2>
        <p>
          当サイトでは、Googleアナリティクスを使用しています。Googleアナリティクスはデータの収集のためにCookieを使用しますが、個人を特定する情報は収集しません。
        </p>
      </section> -->
      <section>
        <h2>Cookieについて</h2>
        <p>
          当サイトでは、ユーザー体験の向上のためにCookieを使用しています。ブラウザの設定でCookieを無効にすることも可能です。
        </p>
      </section>
      <section>
        <h2>プライバシーポリシーの変更</h2>
        <p>
          本プライバシーポリシーの内容は、必要に応じて変更される可能性があります。重要な変更がある場合は、当サイト上でお知らせします。
        </p>
      </section>
  </main>
</BaseLayout>

<style>
  .sub-wrapper {
    max-width: 720px;
    gap: var(--sp-1);
    margin: auto;
  }

  .title {
    line-height: 1.4;
  }

  .description {
		margin-bottom: var(--sp-2);
    overflow-wrap: anywhere;
  }
</style>
