<div class="future-container">
  <section class="future-box">
    <h3 class="future-h3">なりたい姿</h3>
    <div class="future-content">
      <p>
        コンテンツ制作やSEO、デザインの経験を活かし、また新たな知識を学び、お客様に合わせた最適なソリューションを提供できるWebマーケター・Webコンサルタントになりたいです。
      </p>
    </div>
  </section>
  <section class="future-box">
    <h3 class="future-h3">元ライターがデザイナーを志した理由</h3>
    <div class="future-content">
      <p>
        言語と非言語の表現、両方できるようになりたいと思ったからです。
      </p>
      <p>
        もともと文章を書くことが好きでライターになったのですが、文章って疲れているときは読めないなと感じることがありました。デザインであれば、テキストだけでなく色や形、アニメーションなどさまざまな方法によって、言語的コミュニケーションが成立する以前の場、雰囲気やとっかかりのようなものを作ることができます。同じ言葉を言われても、口調やTPO、関係性によって心への着地のしかたが変わるのと似ていると思います。
      </p>
      <p>
        また私自身、きれいなものやかわいいものを見るのが好きなので、そういうものを自分で作れるところも魅力です。
      </p>
    </div>
  </section>
  <section class="future-box">
    <h3 class="future-h3">これからできるようになりたいこと</h3>
    <div class="future-content">
      <p>
        カメラで良い写真が撮れるようになりたいです。デザインにおいても、もちろん単体でも、写真の力は絶大だと感じます。写真を撮るために歩けば健康にもよいので、ぜひ練習したいです。
      </p>
    </div>
  </section>
  <section class="future-box">
    <h3 class="future-h3">好きなこと・もの</h3>
    <div class="future-content">
      <span>
        音楽・映画・ドラマ・絵画・写真等の鑑賞, ゲーム, 散歩, 読書,
        梅干し, おにぎり, チョコレート, スパイスやハーブ,
        アコースティックギターの音色, コンポーネント, 薔薇, 馬, 春と秋
      </span>
    </div>
  </section>
</div>

<style>
  .future-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .future-box {
    display: flex;
    padding: var(--sp-3) 0;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      flex-wrap: wrap;
      gap: var(--sp-1);
    }
  }

  .future-box + .future-box {
    border-top: 1px solid var(--color-gray02);
  }

  .future-h3 {
    font-size: var(--fs-base);
    color: var(--color-gray01);
    width: 320px;
    flex-shrink: 0;
    margin: 0;
    
    @media screen and (max-width: 767px) {
      width: auto;
    }
  }

  .future-content {
    p + p {
      margin-top: var(--sp-2);
    }
  }
</style>
