---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import NavItem from "./NavItem.astro";

const links = [
  { href: "/works", text: "Works" },
];
---

<header class="header-menu">
  <a href="/" class="header-title">
    <h1 class="site-title">
      {SITE_TITLE}
    </h1>
    <span class="site-description">
      {SITE_DESCRIPTION}
    </span>
  </a>
  <ul class="nav-items">
    {links.map((link) => <NavItem {...link} />)}
  </ul>
</header>

<style>
  .header-menu {
    background-color: var(--color-bg);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: var(--sp-2) var(--sp-5);

    @media screen and (max-width: 540px) {
      padding: var(--sp-2);
    }
  }

  .header-title {
    display: flex;
    align-items: baseline;
    gap: var(--sp-2);
    
    @media screen and (max-width: 540px) {
      flex-direction: column;
      gap: var(--sp-xs);
    }
  }

  .site-title {
    font-family: var(--ff-en);
    font-size: var(--fs-2xl);
    font-weight: 400;
    color: var(--color-gray01);
    line-height: 1;

    &:hover {
      color: var(--color-main);
    }
  }

  .site-description {
    font-family: var(--ff-en);
    font-size: var(--fs-sm);
    font-weight: 700;
    color: var(--color-gray01);
    line-height: 1;

    &:hover {
      color: var(--color-main);
    }
  }

  
</style>
