---
interface Props {
	title: string;
	tagline?: string;
}

const { title, tagline } = Astro.props;
---

<div class="hero">
		<h1 class="title">{title}</h1>
		{tagline && <p class="tagline">{tagline}</p>}
	<slot />
</div>

<style>
	.hero {
		display: flex;
		flex-direction: column;
	}

	.title,
	.tagline {
		max-width: 720px;
		margin-inline: auto;
		overflow-wrap: anywhere;
	}

	.title {
		font-size: var(--fs-5xl);
		font-family: var(--ff-title);
		font-weight: 500;
		color: var(--color-gray01);
		line-height: 1.1;
		letter-spacing: 0;

		@media screen and (max-width: 640px) {
			font-size: var(--fs-4xl);
		}
	}

	.tagline {
		margin-top: var(--sp-2);
		font-size: var(--fs-sm);
	}
</style>
