---
import '../styles/global.css';
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={SITE_DESCRIPTION} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta name="robots" content="noindex">
<title>{SITE_TITLE}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Noto+Sans+JP:wght@400..700&family=Sedan:ital@0;1&display=swap" rel="stylesheet">

