---
interface Props {
  href: string;
  text: string;
  isActive?: boolean;
}

const { href, text, isActive } = Astro.props;
---

<li class={`nav-item ${isActive ? "active" : ""}`}>
  <a href={href} class="nav-link">
    {text}
  </a>
</li>

<style>
  .nav-item {
    font-size: var(--fs-base);
    font-family: var(--ff-en);
    line-height: 1.2;
    padding: var(--sp-xs) var(--sp-1);
  }

  .nav-link:hover {
    color: var(--color-main);
  }
  .active .nav-link {
    font-weight: 500;
  }
</style>
