<div class="pill"><slot /></div>

<style>
	.pill {
		display: inline-block;
    padding: var(--sp-xs) var(--sp-1);
		color: var(--color-gray01);
		font-size: var(--fs-xs);
		border-radius: var(--br-full);
		border: solid 1px var(--color-gray01);
		line-height: 1.1;
		white-space: nowrap;
	}
</style>