---
import type { CollectionEntry } from "astro:content";
import Pill from "./Pill.astro";

interface Props {
  project: CollectionEntry<"works">;
}

const { data, slug } = Astro.props.project;
---

<a class="card" href={`/works/${slug}`}>
  <span class="title">{data.title}</span>
  <img
    src={data.img}
    alt={data.img_alt || ""}
    loading="lazy"
    decoding="async"
  />
</a>
<div class="tags">
  {data.tags.map((tag) => <Pill>{tag}</Pill>)}
</div>

<style>
  .card {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
  }

  .title {
    font-weight: 600;
    margin-top: var(--sp-2);
  }

  img {
    aspect-ratio: 16 / 9;
    border-radius: var(--br-1);
    width: 100%;
    height: 100%;
    object-fit: cover;

    &:hover {
      opacity: 0.7;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.4;
    gap: var(--sp-xs);
    margin-top: var(--sp-1);
  }
</style>
