---
import { Icon } from "astro-icon/components";
interface Props {
	href: string;
}

const { href } = Astro.props;
---

  <a href={href}>
		<slot />
		<Icon name="mingcute:arrow-right-line" width={16} height={16} />
	</a>

<style>
	a {
		font-size: var(--fs-base);
		font-family: var(--ff-en);
		font-weight: 600;
		color: var(--color-text);
		position: relative;
		display: flex;
		gap: var(--sp-1);
		line-height: 1;
		overflow: hidden;
		white-space: nowrap;
		transition: all 0.5s ease-out;

		@media screen and (max-width: 767px) {		
			padding: var(--sp-2) var(--sp-2);
			border: solid 1px var(--color-gray01);
			border-radius: var(--br-full);
		}
	}

	a:hover {
		gap: var(--sp-2);
		color: var(--color-main);
	}
</style>
