---
import { Icon } from "astro-icon/components";
---


<a href="/works/" class="works-btn">
  <span class="works-btn-text">Works</span>
  <Icon name="solar:gallery-wide-bold" width={24} height={24} />
</a>

<style>
  .works-btn {
    display: grid;
    align-content: center;
    justify-items: center;
    background-color: #FF5356;
    color: var(--color-bg);
    position: fixed;
    z-index: 1;
    bottom: var(--sp-2);
    right: var(--sp-2);
    width: 5rem;
    height: 5rem;
    border-radius: var(--br-full);
    box-shadow: 0 1px 4px var(--color-gray01);
  }

  .works-btn-text {
    font-family: var(--ff-en);
    font-size: var(--fs-xl);
    
  }
</style>
