---
import { Icon } from "astro-icon/components";
---


<a href="/works/" class="works-btn">
  <span class="works-btn-text">Works一覧</span>
  <Icon name="solar:display-bold" width={28} height={28} />
</a>

<style>
  .works-btn {
    display: grid;
    gap: var(--sp-xs);
    justify-items: center;
    align-content: center;
    background-color: #417d3e;
    color: var(--color-bg);
    position: fixed;
    z-index: 1;
    bottom: var(--sp-2);
    right: var(--sp-2);
    width: 5rem;
    height: 5rem;
    border-radius: var(--br-full);
    box-shadow: var(--bx-shadow);

    &:hover {
      background-color: var(--color-main);
    }
  }

  .works-btn-text {
    font-size: var(--fs-xs);
    line-height: 1;
  }
</style>
