---
import { Icon } from "astro-icon/components";
---

<a href="/works/" class="works-btn">
  <span class="works-btn-text">Works一覧</span>
  <Icon name="solar:display-bold" width={32} height={32} />
</a>

<style>
  .works-btn {
    display: grid;
    gap: 2px;
    justify-items: center;
    align-content: center;
    color: var(--color-main);
    background: linear-gradient(135deg, var(--color-bg), var(--color-gray02));
    border: 3px solid var(--color-main);
    position: fixed;
    z-index: 1;
    bottom: var(--sp-2);
    right: var(--sp-2);
    width: 5rem;
    height: 5rem;
    border-radius: var(--br-full);
    box-shadow: var(--bx-shadow);
  }

  .works-btn-text {
    font-size: var(--fs-xs);
    font-weight: 500;
    line-height: 1;
    padding-top: var(--sp-1);
  }
</style>
