---
import MainHead from "../components/MainHead.astro";
import '@fontsource/noto-sans-jp/400.css';
import '@fontsource/noto-sans-jp/500.css';
import '@fontsource/noto-sans-jp/600.css';
import '@fontsource/noto-sans-jp/700.css';
import '@fontsource/afacad/400.css';
import '@fontsource/afacad/500.css';
import '@fontsource/afacad/600.css';
import '@fontsource/afacad/700.css';
import '@fontsource/sedan';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import WorksLink from "../components/WorksLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const { title, description } = Astro.props;
const pageTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE;
const pageDescription = description || SITE_DESCRIPTION;
---

<html lang="ja">
	<head>
		<MainHead title={pageTitle} description={pageDescription} />
	</head>
  
  <body>
    <Header />
    <slot />
    <WorksLink />
    <Footer />
  </body>
</html>