---
import MainHead from '../components/MainHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import WorksLink from '../components/WorksLink.astro';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="ja">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
			<Header />
			<slot />
			<WorksLink />
			<Footer />

		<script>
			addEventListener('load', () => document.documentElement.classList.add('loaded'));
		</script>
	</body>
</html>
